<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bills Tracker</title>
    <link rel="stylesheet" href="../public/css/style.css">

</head>
<body>
    <section>
        <h1>Bills Tracker</h1> 

        <form>
            <input type="text" placeholder="BILL" name="billName">
            <input type="number" placeholder="AMOUNT" name="billAmount">
            <input type="submit" value="+">
        </form>
    </section>

    <section class="bills"> <!-- put border/outline on top -->
        <section class="bill-info">
            <!-- icon -->
            <span class="bill-name"></span>
            <span class="amount"></span> <!-- figure out how to make it USD currency with decimal in USD currency-->

        </section>
    </section>

    <section>
        <h3>Total Amount:</h3>
        <span>$</span> <!-- total amount in USD currency - MATH! -->
    </section>

    <section>
        <!-- image for right side -->
    </section>
    <script src="js/main.js"></script>
</body>
</html>