<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bills Tracker</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/bc1a30f7dd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/solid.min.css">

</head>
<body>

    <section class="header-form">
        <h1>Bills Tracker</h1> 

        <form action="/addBill" method="POST">
            <input type="text" placeholder="BILL" name="billName">
            <input type="number" placeholder="AMOUNT" name="billAmount">
            <button type="submit">+</button>
        </form>
    
    </section>

    <section class="total-section">
        <h3>Total Amount:</h3>
        <h3>$</h3> <!-- total amount in USD currency - MATH! -->
    </section>


    <div>

        <section class="bills"> <!-- put border/outline on top -->
        <% for (let i = 0; i < info.length; i++) {%>
            <section class="bill-info">
                <section>
                    <div class="icon-border"></div>
                </section>
                
                <div class="input-and-icons">                  
                    <section class="bill-input">
                        <span class="bill-name"><%= info[i].billName %></span>
                        <span class="amount"><%= info[i].billAmount %></span> <!-- figure out how to make it USD currency with decimal in USD currency-->
                    </section>
                    <section class="icons">
                        <i class="fa-solid fa-pen-to-square" style="color: #000000;"></i>
                        <i class="fa-solid fa-trash fa-sm" style="color: #030303;"></i>
                    </section>
                </div>
                
            </section>
        <% } %>
        </section>

        <section class="img-section">
            <img src="images/jp-valery-mwNkPv3d_EI-unsplash.jpg">
            <!-- used by -->
        </section>

    </div>



    <script src="js/main.js"></script>
</body>
</html>